<div class="home-page">
    <div class="search-box">
        <img src="./../../../assets/images/logo.png" class=" img-rounded  img-responsive "style="width:450px;height:400px;left: 22%">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 top-mar">
                <input class="form-control" type="text" placeholder="What do you want?" ng-model="query"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 top-mar">
                <input class="form-control" type="text" placeholder="From which city?" ng-model="location"/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 top-mar">
                <button class="btn btn-primary" ng-click="search()"><span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Image Gallery</h2>
        <div class="row img-rounded img-responsive">
            <div class="col-md-4">
                <img src="./../../../assets/images/Food.jpg"  class="row img-circle  img-responsive"
                     style="width:400%;height:500%">
            </div>
            <div class="col-md-4">
                <img src="./../../../assets/images/Hotel.jpg"  class="row img-circle img-responsive"
                     style="width:400%;height:500%">
            </div>
            <div class="col-md-4">
                <img src="./../../../assets/images/thali.jpg"  class="row img-circle img-responsive"
                     style="width:400%;height:500%">
            </div>
        </div>
    </div>

</div>