@font-face {
  font-family: 'cookie';
  src: url('./fonts/cookiemonster.eot'); /* IE9 Compat Modes */
  src: url('./fonts/cookiemonster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/cookiemonster.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/cookiemonster.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/cookiemonster.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/cookiemonster.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'aventura';
  src: url('./fonts/aventura.eot'); /* IE9 Compat Modes */
  src: url('./fonts/aventura.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/aventura.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/aventura.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/aventura.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/aventura.svg#svgFontName') format('svg'); /* Legacy iOS */
}
