#map {
  margin: 0;
  padding: 0;
  height: 55%;

    @media screen and (min-height: 650px) {
  		height: 68%;
    }
}

.map-container {
height: 100%;

  .info {
  	height: 40%;
  	padding: 20px;

  	@media screen and (min-height: 650px) {
  		height: 28%;
    }

    h5 {
    	color: orange;
    }
  }

  small{
    color: black;
  }
}
.img-div {
  float: left;
  width: auto;
  padding: 5px;
}

.info-div {
  width: auto;
  float: left;
}

.item-detail{

  border-bottom: 1px solid #00ffff;
  background-color: #00ff0d;

}
.item-name{
  margin: 0px 10px 10px 120px;
  padding-top: 10px;
}