#map {
  margin: 0;
  padding: 0;
  height: 55%;

  @media screen and (min-height: 650px) {
    height: 68%;
  }
}

.map-container {
  height: 100%;

  .info {
    height: 40%;
    padding: 20px;

    @media screen and (min-height: 650px) {
      height: 28%;
    }

    h5 {
      color: orange;
    }
  }

  small{
    color: black;
  }
}
.img-div {
  float: left;
  width: auto;
  padding: 5px;
}

.info-div {
  width: auto;
  float: left;
  font-size: 14px;
  font-family:'Arial Black', 'Gadget', sans-serif;
}

.item-detail{

  border-bottom: 5px solid #00ffff;
  background-color: #e77f9b;

}
.item-name{
  margin: 0px 10px 10px 120px;
  padding-top: 10px;
}

